/* En App.css, asegura que html y body ocupen todo el alto de la pantalla */


body {
  height:100dvh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


h2,input, label {
  font-family: monospace;
  font-size: bold;
}
.homeScreenBody { background-color: #f4f4f4;}


